<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">EliteAddy is a freelancer site by me (Addy) used to display my old and recent projects,
                    proposed and unfinished project. You can see my proposed work here under <a href="#portfolio" style="color: #0a3c6e">portfolio</a>
                    and more...</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">I'm Adesile Isaiah Ayomide, a student of <a href="https://lautech.edu.ng" style="color: #0a3c6e">LAUTECH</a>.
                    You can contact me to help in building web app, mobile app, and system app.
                    You can contact me <a href="#contact" style="color: #0a3c6e">here</a> or itsbeniaddy@gmail.com</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#contact">
                <i class="fas fa-contact mr-2"></i>
                Contact Now!
            </a>
        </div>
    </div>
</section>