---
layout: default
---

<!-- Blog Header and Description -->
{% include header.html %}

<!-- Portfolio Grid -->
<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            {% for post in site.posts %}
            {% include article-excerpt.html %}
            {% endfor %}
        </div>
        {% include pagination.html %}
    </div>
</section>

<!-- About -->
{% include about.html %}

<!-- Contact -->
{% include contact.html %}